.sliderContainer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.sliderTrack {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  width: max-content; /* ajusta conforme o conteúdo total */
  animation: scroll 25s linear infinite;
}

.sliderItemImg {
  flex: 0 0 auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
